{{ define "main" }}
<section class="section section--graph">

    <div class="graph-cloud">
        <h3 class="graph-cat-title">Tags</h3>
        <div class="graph-cat-list">
        {{ range $term, $list := $.Site.Taxonomies.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ $term | urlize }}/" class="graph-cat-link">
            {{ $term }} <span class="graph-cat-count">({{ len $list }})</span>
        </a>
        {{ end }}
        </div>
    </div>

    <div class="graph-categories">
        <h3 class="graph-cat-title">Categorias</h3>
        <div class="graph-cat-list">
            {{ range $term, $list := $.Site.Taxonomies.categories }}
            <a href="{{ "/categories/" | relLangURL }}{{ $term | urlize }}/" class="graph-cat-link">
                {{ $term }} <span class="graph-cat-count">({{ len $list }})</span>
            </a>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}