* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    margin: 0 auto;
    padding: 25px 0 25px 0;
    text-align: center;
}

.header .logo {
    width: 25rem;
}
.header .subtitle {
    padding: 15px 0 15px 0;
}

.footer {
    width: 100%;
    padding: 25px 0 25px 0;
    background: #000000;
    text-align: center;
}

.footer .logo {
    width: 5rem;
}